<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
    <h1>CREATE ID</h1>
    <form action="http://localhost:8000/login/usercreate" method="post">
      <label>Create Username</label>
      <br>
      <input type="text" name="username">
      <br>
      <label>Enter Password</label>
      <br>
      <input type="password" name="password">
      <br>
      <label>Re-enter Password</label>
      <br>
      <input type="password" name="rpassword">
      <br>
    </form>
    </div>
  </body>
</html>
